@model ICollection<SavedJob>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Saved Jobs</h1>
<div class="articles">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="box">
                <div class="content">
                    <h3>@item.Job.Title</h3>
                    <a>@item.UserName</a>
                    <p>@item.Job.Category.Name</p>
                    <p>@item.Job.DateTime</p>
                    <p>@item.Job.Description</p>
                </div>
                <div class="info">
                    <a >Read More</a>

                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
            </div>
        }
    </div>
</div>