@using Mentor.ViewModels;
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "../shared/_DashBoardLayout.cshtml";
}

<div class="container pt-4 px-4">

<div class="articles">
    <div class="container">
        @foreach (var item in Model)
            {
                <div class="box">
                    <h3>@item.UserName</h3>
                    <p>@item.Email</p>
                    <p>@item.PhoneNumber</p>
                    <p>@string.Join(" , ",item.Roles.ToList())</p>
                  <div class="info">
                    <p><a asp-action="Manage" asp-route-id="@item.Id" class="btn btn-primary">ManageUser</a></p>
                    <i class="fas fa-long-arrow-alt-right"></i>
                  </div>
                </div>
            }
      </div>
      </div>
</div>
