@model OpportunitiesDetailsViewModel


@{
    ViewData["Title"] = "OpportunityDetails";
    Layout = "../shared/_Layout.cshtml";
}

<head>
    <!-- FontAwesome Library -->
    <link rel="stylesheet" href="~/css/all.min.css">
</head>

<div class="row mt-4">
    <div class="col-md-6">

        <h2>@Model.Opportunity.Title</h2>

        <p>@Model.Opportunity.JobDuration</p>


        <div class="d-flex">

            <a asp-action="Index" asp-controller="EmployerProfiles" style="font-size:19px;font-weight:bold;"
               asp-route-publisher="@Model.Opportunity.JobPublisher"> @Model.Opportunity.JobPublisher -</a>

            <p class="ms-2">@Model.Opportunity.JobPublisher.Location</p>

        </div>

        <div class="d-flex">
            <p>published at :</p>
            <p class="ms-2 no">@Model.Opportunity.PublishDate</p>
        </div>

        <div class="d-flex">
            <h3>@Model.Opportunity.ApplicantsCount</h3>
            <p class="ms-2 no" style="max-width:120px">Applicants for @Model.Opportunity.Positoins open positions</p>
        </div>

        <div style="margin-top:20px">
            @if (User.IsInRole("Employee"))
            {

                @if(Model.Opportunity.Applyed == true)
                {
                    <a style="width:150px" class="btn btn-outline-primary" id="btndlt"
                        data-id="@Model.Opportunity.JobId">
                        Applyed <i class="fa-solid fa-check ms-2"></i>
                    </a>
                    @*<a class="btn btn-outline-danger" id="btndlt" 
                        data-id="@Model.Opportunity.JobId">Remove My Application</a>*@
                }
                else
                {
                    <a style="width:150px" class="btn btn-primary" id="btnpop"
                        onclick="showInPopup('@Url.Action("Apply","ApplyForJobs",null,Context.Request.Scheme)')"
                        data-id="@Model.Opportunity.JobId">Apply Now
                    </a>

                }
                
                <a class="btn btn-outline-primary ms-2" asp-route-id="@Model.Opportunity.Id">
                    <i class="fa-regular fa-bookmark"></i></a>
            }
        </div>
    </div>


    <div class="col-md-6">
        <h3>Job Details</h3>

        <div class="d-flex">
            <p>Experience Level :</p>
            <p class="ms-2">@Model.Opportunity.Experience</p>
        </div>
        <div class="d-flex">
            <p>Career Level :</p>
            <p class="ms-2">@Model.Opportunity.CareerLevel</p>
        </div>
        <div class="d-flex">
            <p>Education Level :</p>
            <p class="ms-2">@Model.Opportunity.EducationLevel</p>
        </div>
        <div class="d-flex">
            <p>Salary :</p>
            <p class="ms-2">@Model.Opportunity.Salary</p>
        </div>
        <div class="d-flex">
            <p>Job Category :</p>
            <p class="ms-2">@Model.Opportunity.Category</p>
        </div>
    </div>
</div>

<style>
    p{
        font-size:19px;
    }
    .no{
        font-size:16px;
    }
</style>

<hr style="margin:40px; margin-left:0px;width:500px"/> 

<h3>Relevant Jobs</h3>

<div class="articles">
    <div class="container">
        @foreach (var item in Model.RelevantsJob)
        {
            <div class="box">
                <div class="content">
                    <h3>@item.Title</h3>
                    <a asp-action="Index" asp-controller="EmployerProfiles" 
                        asp-route-publisher="@item.JobPublisher">@item.JobPublisher</a>
                    <p>@item.Category.Name</p>
                    <p>@item.DateTime</p>
                    <p>@item.Description</p>
                </div>
                <div class="info">
                    <a asp-controller="ApplyForJobs" asp-action="opportunityDetials"
                   asp-route-id="@item.JobId">Read More</a>

                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
            </div>
        }
    </div>
</div>

